<!DOCTYPE html>
<html lang = "ko" dir = "ltr">
    <head>
        <meta charset = "utf-8">
        <title>이상한 월드컵!</title>
        <!-- 합쳐지고 최소화된 최신 CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

        <!-- 부가적인 테마 -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

        <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel = "stylesheet" href = "style.css">
    </head>
    <body>
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="home.html">메인</a></li>
            <li role="presentation"><a href="statistics.html">통계</a></li>
        </ul>

        <div id = "main_container" onclick = "left_win()">
            <div id = "candidate1">
                <h1>Image1</h1> <br><br>
                <h1>{{ candidate[0] }}</h1>
            </div>

            <div id = "vs">
                <h1>VS   </h1>
            </div>

            <div id = "candidate2" onclick = "right_win()">
                <h1>Image2</h1> <br><br>
                <h1>{{ candidate[1] }}</h1>
            </div>
        </div>

        <script>
            function left_win(){
                document.getElementById("candidate1")
            }

            function right_win(){
                document.getElementById("candidate2")
            }
        </script>
    </body>
</html>